/* Define Define Semantic Elements as Block Elements for Older Browsers */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

#header-background-container {
  display: flex;
}

#header-background-left {
  width: 800px;
  height: 128px;
  background: linear-gradient(90deg, red, rgb(0, 255, 115));
  flex-shrink: 0;
}

#header-background-right {
  width: 100%;
  height: 128px;
  background: rgb(0, 255, 115);
}

#header-logo {
  width: 128px;
  height: 128px;
}

#header-text {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 95px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  margin: 10px;
}

nav {
  background-color: rgb(50, 100, 227);
}

nav > a {
  padding: 10px;
  font-size: 12px;
  line-height: 35px;
  background: linear-gradient(0deg, rgb(0, 255, 115), red);
  text-decoration: none;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav > a:hover {
  background: linear-gradient(0deg, red, black);
  color: rgb(0, 255, 115);
}

nav > a.active {
  background: linear-gradient(0deg, red, rgb(0, 255, 115));
  color: black;
}

footer {
  text-align: center;
}

footer > span {
  margin: 5px;
}

footer > a {
  margin: 5px;
}
