#header-background-container {
  display: flex;
}

#header-background-left {
  width: 800px;
  height: 128px;
  background: linear-gradient(90deg, red, rgb(0, 255, 115));
  flex-shrink: 0;
}

#header-background-right {
  width: 100%;
  height: 128px;
  background: rgb(0, 255, 115);
}

#header-logo {
  width: 128px;
  height: 128px;
}

#header-text {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 95px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  margin: 10px;
}

nav {
  background-color: rgb(50, 100, 227);
}

nav > a {
  padding: 10px;
  font-size: 12px;
  line-height: 35px;
  background: linear-gradient(0deg, rgb(0, 255, 115), red);
  text-decoration: none;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav > a:hover {
  background: linear-gradient(0deg, red, black);
  color: rgb(0, 255, 115);
}

nav > a.active {
  background: linear-gradient(0deg, red, rgb(0, 255, 115));
  color: black;
}

footer {
  text-align: center;
}

footer > span {
  margin: 5px;
}

footer > a {
  margin: 5px;
}

.red-text {
  color: red;
}

.dark-red-text {
  color: darkred;
}

.green-text {
  color: green;
}

#screenshots-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.span-last-2-columns {
  grid-column: 2/4;
}

figure,
figcaption {
  text-align: center;
}

#screenshots-larger-view-info {
  text-align: center;
  font-weight: bold;
}

table,
th,
td {
  border: 1px solid black;
}

td,
th {
  padding: 7px;
}

.download-btn {
  padding: 7px 13px;
  background-color: #b12121;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #b12121;
  font-weight: bold;
}

.download-btn:hover {
  background-color: rgb(0, 255, 115);
  color: #b12121;
}

.previous-version {
  display: none;
}
